In [3]:
import pandas as pd

In [4]:
movies=pd.read_csv('dataset10000.csv')

In [5]:
movies.head(10)

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,725201.0,The Gray Man,"Action,Thriller",en,When a shadowy CIA agent uncovers damning agen...,510.268,7/13/2022,6.8,496.0
1,616037.0,Thor: Love and Thunder,"Action,Adventure,Fantasy",en,After his retirement is interrupted by Gorr th...,8772.151,7/6/2022,6.7,1317.0
2,438148.0,Minions: The Rise of Gru,"Family,Animation,Adventure,Comedy,Fantasy",en,A fanboy of a supervillain supergroup known as...,8821.801,6/29/2022,7.5,489.0
3,667739.0,The Man from Toronto,"Action,Comedy,Thriller",en,"In a case of mistaken identity, the world’s de...",1299.583,6/24/2022,6.5,474.0
4,560057.0,The Sea Beast,"Animation,Adventure,Family,Fantasy",en,The life of a legendary sea monster hunter is ...,1723.363,6/24/2022,7.6,439.0
5,756999.0,The Black Phone,"Horror,Thriller",en,"Finney Shaw, a shy but clever 13-year-old boy,...",5278.336,6/22/2022,8.0,1101.0
6,614934.0,Elvis,"Drama,History,Music",en,The life story of Elvis Presley as seen throug...,364.203,6/22/2022,7.8,543.0
7,759175.0,The Princess,"Fantasy,Action",en,"A beautiful, strong-willed young royal refuses...",2456.150,6/16/2022,7.2,264.0
8,718789.0,Lightyear,"Animation,Science Fiction,Adventure,Action,Family",en,Legendary Space Ranger Buzz Lightyear embarks ...,5255.930,6/15/2022,7.3,987.0
9,615469.0,Spiderhead,"Science Fiction,Thriller,Drama",en,A prisoner in a state-of-the-art penitentiary ...,942.152,6/15/2022,5.8,728.0

In [6]:
movies.describe()

                  id    popularity  vote_average    vote_count
count    2571.000000   2571.000000   2571.000000   2571.000000
mean   477949.356671     72.245391      6.622948   1521.327499
std    138871.994325    412.291389      0.776465   2631.210730
min     14564.000000      1.264000      4.600000    200.000000
25%    382360.500000     10.859500      6.100000    305.000000
50%    458534.000000     18.208000      6.600000    543.000000
75%    567507.000000     41.783000      7.200000   1379.500000
max    934761.000000  10436.917000      8.600000  27028.000000

In [7]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 2571 non-null   float64
 1   title              2571 non-null   object
 2   genre              2571 non-null   object
 3   original_language  2571 non-null   object
 4   overview           2569 non-null   object
 5   popularity         2571 non-null   float64
 6   release_date       2571 non-null   object
 7   vote_average       2571 non-null   float64
 8   vote_count         2571 non-null   float64
dtypes: float64(4), object(5)
memory usage: 703.3+ KB

In [8]:
movies.isnull().sum()

id                   7429
title                7429
genre                7429
original_language    7429
overview             7431
popularity           7429
release_date         7429
vote_average         7429
vote_count           7429
dtype: int64

Feature Selection Part

In [9]:
movies.columns

Index(['id', 'title', 'genre', 'original_language', 'overview', 'popularity',
       'release_date', 'vote_average', 'vote_count'],
      dtype='object')

In [10]:
movies=movies[['id', 'title', 'overview', 'genre']]

In [11]:
movies

,id,title,overview,genre
0,725201.0,The Gray Man,When a shadowy CIA agent uncovers damning agen...,"Action,Thriller"
1,616037.0,Thor: Love and Thunder,After his retirement is interrupted by Gorr th...,"Action,Adventure,Fantasy"
2,438148.0,Minions: The Rise of Gru,A fanboy of a supervillain supergroup known as...,"Family,Animation,Adventure,Comedy,Fantasy"
3,667739.0,The Man from Toronto,"In a case of mistaken identity, the world’s de...","Action,Comedy,Thriller"
4,560057.0,The Sea Beast,The life of a legendary sea monster hunter is ...,"Animation,Adventure,Family,Fantasy"
...,...,...,...,...
9995,NaN,NaN,NaN,NaN
9996,NaN,NaN,NaN,NaN
9997,NaN,NaN,NaN,NaN
9998,NaN,NaN,NaN,NaN
9999,NaN,NaN,NaN,NaN

In [ ]:
movies['tags'] = movies['overview']+movies['genre']

In [ ]:
movies

,id,title,overview,genre,tags
0,27205,Inception,"Cobb, a skilled thief who commits corporate es...","Action,Science Fiction,Adventure","Cobb, a skilled thief who commits corporate es..."
1,157336,Interstellar,The adventures of a group of explorers who mak...,"Adventure,Drama,Science Fiction",The adventures of a group of explorers who mak...
2,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,"Drama,Action,Crime,Thriller",Batman raises the stakes in his war on crime. ...
3,24428,The Avengers,When an unexpected enemy emerges and threatens...,"Science Fiction,Action,Adventure",When an unexpected enemy emerges and threatens...
4,293660,Deadpool,The origin story of former Special Forces oper...,"Action,Adventure,Comedy",The origin story of former Special Forces oper...
...,...,...,...,...,...
9995,28569,Splendor in the Grass,A fragile Kansas girl's unrequited and forbidd...,"Drama,Romance",A fragile Kansas girl's unrequited and forbidd...
9996,4952,Pillow Talk,A man and woman share a telephone line and des...,"Comedy,Romance",A man and woman share a telephone line and des...
9997,15515,The 7th Voyage of Sinbad,"When a princess is shrunken by an evil wizard,...","Action,Adventure,Family,Fantasy","When a princess is shrunken by an evil wizard,..."
9998,9077,Tarantula,A lone-wolf scientist sequestered in a mansion...,"Horror,Science Fiction,Thriller",A lone-wolf scientist sequestered in a mansion...
9999,12232,The Thief of Bagdad,When Prince Ahmad is blinded and cast out of B...,"Action,Adventure,Family,Fantasy",When Prince Ahmad is blinded and cast out of B...

In [ ]:
new_data  = movies.drop(columns=['overview', 'genre'])

In [ ]:
new_data

,id,title,tags
0,27205,Inception,"Cobb, a skilled thief who commits corporate es..."
1,157336,Interstellar,The adventures of a group of explorers who mak...
2,155,The Dark Knight,Batman raises the stakes in his war on crime. ...
3,24428,The Avengers,When an unexpected enemy emerges and threatens...
4,293660,Deadpool,The origin story of former Special Forces oper...
...,...,...,...
9995,28569,Splendor in the Grass,A fragile Kansas girl's unrequited and forbidd...
9996,4952,Pillow Talk,A man and woman share a telephone line and des...
9997,15515,The 7th Voyage of Sinbad,"When a princess is shrunken by an evil wizard,..."
9998,9077,Tarantula,A lone-wolf scientist sequestered in a mansion...
9999,12232,The Thief of Bagdad,When Prince Ahmad is blinded and cast out of B...

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
new_data['tags'] = new_data['tags'].fillna('')

In [ ]:
tfidf = TfidfVectorizer(max_features=10000, stop_words='english')
tfidf_matrix = tfidf.fit_transform(new_data['tags'].values.astype('U'))

In [ ]:
similarity = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [ ]:
similarity

array([[1.        , 0.03865787, 0.00499736, ..., 0.02206849, 0.01719822,
        0.06587978],
       [0.03865787, 1.        , 0.00312846, ..., 0.01494108, 0.02073204,
        0.01274635],
       [0.00499736, 0.00312846, 1.        , ..., 0.02230045, 0.00326192,
        0.00581102],
       ...,
       [0.02206849, 0.01494108, 0.02230045, ..., 1.        , 0.        ,
        0.11724442],
       [0.01719822, 0.02073204, 0.00326192, ..., 0.        , 1.        ,
        0.        ],
       [0.06587978, 0.01274635, 0.00581102, ..., 0.11724442, 0.        ,
        1.        ]])

In [ ]:
new_data[new_data['title']=="Interstellar"].index[0]

1

In [ ]:
def recommand(movie_title):
    if movie_title not in new_data['title'].values:
        print("Movie not found in dataset.")
        return

    # Get the index of the movie that matches the title
    index = new_data[new_data['title'] == movie_title].index[0]

    # Get the pairwise similarity scores of all movies with that movie
    distance = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda vector: vector[1])

    # Print the titles of the top 5 most similar movies
    print(f"Top 5 recommendations for '{movie_title}':")
    for i in distance[1:6]:  # Skip the first entry as it is the movie itself
        print(new_data.iloc[i[0]].title)

In [ ]:
recommand("Interstellar")

Top 5 recommendations for 'Interstellar':
Space Pirate Captain Harlock
Stargate
Prometheus
Gattaca
Star Wars: The Last Jedi

In [ ]:
import pickle

In [ ]:
pickle.dump(new_data, open('movies_listUpdate.pkl', 'wb'))

In [ ]:
pickle.dump(similarity, open('similarityUpdate.pkl', 'wb'))

In [ ]:
pickle.load(open('movies_listUpdate.pkl', 'rb'))

,id,title,tags
0,27205,Inception,"Cobb, a skilled thief who commits corporate es..."
1,157336,Interstellar,The adventures of a group of explorers who mak...
2,155,The Dark Knight,Batman raises the stakes in his war on crime. ...
3,24428,The Avengers,When an unexpected enemy emerges and threatens...
4,293660,Deadpool,The origin story of former Special Forces oper...
...,...,...,...
9995,28569,Splendor in the Grass,A fragile Kansas girl's unrequited and forbidd...
9996,4952,Pillow Talk,A man and woman share a telephone line and des...
9997,15515,The 7th Voyage of Sinbad,"When a princess is shrunken by an evil wizard,..."
9998,9077,Tarantula,A lone-wolf scientist sequestered in a mansion...
9999,12232,The Thief of Bagdad,When Prince Ahmad is blinded and cast out of B...

In [ ]:
pickle.load(open('similarityUpdate.pkl', 'rb'))

array([[1.        , 0.14350946, 0.03074377, ..., 0.11145564, 0.06019293,
        0.14350946],
       [0.14350946, 1.        , 0.0338255 , ..., 0.06131393, 0.06622662,
        0.05263158],
       [0.03074377, 0.0338255 , 1.        , ..., 0.07881104, 0.02128141,
        0.0338255 ],
       ...,
       [0.11145564, 0.06131393, 0.07881104, ..., 1.        , 0.        ,
        0.30656967],
       [0.06019293, 0.06622662, 0.02128141, ..., 0.        , 1.        ,
        0.        ],
       [0.14350946, 0.05263158, 0.0338255 , ..., 0.30656967, 0.        ,
        1.        ]])